Repository angular/dev-infra, pull requests merged in 2021-09, with the labels that each got.

#195 refactor: remove `setPrototypeOf` workaround for custom errors
  github-actions/slash-commands/main.js
  ng-dev/pullapprove/pullapprove_arrays.ts
  ng-dev/release/publish/actions-error.ts
  ng-dev/utils/config.ts
  ng-dev/utils/dry-run.ts
  ng-dev/utils/git/git-client.ts
  tools/local-actions/changelog/main.js
Labels: cla: yes, action: merge, action: review

#194 refactor: cleanup any casts for octokit API response errors
  github-actions/breaking-changes-label/main.js
  github-actions/breaking-changes-label/post.js
  github-actions/feature-request/BUILD.bazel
  github-actions/feature-request/main.js
  github-actions/feature-request/post.js
  github-actions/feature-request/src/octokit.ts
  github-actions/lock-closed/main.js
  github-actions/lock-closed/post.js
  github-actions/slash-commands/main.js
  github-actions/slash-commands/post.js
  github-actions/utils.ts
  ng-dev/pr/common/checkout-pr.ts
  ng-dev/pr/merge/pull-request.ts
  ng-dev/pr/rebase/index.ts
  ng-dev/utils/github.ts
  package.json
  tools/local-actions/changelog/main.js
  tools/local-actions/changelog/post.js
  yarn.lock
Labels: cla: yes, action: merge, action: review

#196 feat(bazel): support browsers for m1 platform
  bazel/BUILD.bazel
  bazel/browsers/chromium/BUILD.bazel
  bazel/browsers/chromium/chromium.bzl
  bazel/browsers/chromium/find-stable-revision-for-all-platforms.ts
  bazel/browsers/firefox/BUILD.bazel
  bazel/browsers/firefox/firefox.bzl
  bazel/constraints/BUILD.bazel
  package.json
  yarn.lock
Labels: cla: yes

#202 refactor(ng-dev): create enum for target label names
  ng-dev/pr/check-target-branches/check-target-branches.ts
  ng-dev/pr/merge/config.ts
  ng-dev/pr/merge/defaults/integration.spec.ts
  ng-dev/pr/merge/defaults/labels.ts
  ng-dev/pr/merge/failures.ts
  ng-dev/pr/merge/fetch-pull-request.ts
  ng-dev/pr/merge/pull-request.ts
  ng-dev/pr/merge/target-label.ts
  ng-dev/pr/merge/validations.ts
Labels: cla: yes, action: review

#207 fix(ng-dev/release): fetch release notes compare tag and store it locally
  ng-dev/release/publish/actions.ts
Labels: cla: yes, action: merge

#215 feat(bazel): support for terser v5 and 2020 in rollup_bundle rule
  bazel/benchmark/ng_rollup_bundle/ng_rollup_bundle.bzl
  bazel/benchmark/ng_rollup_bundle/terser_config.json
Labels: cla: yes

#222 feat(ng-dev/pr): include comment for PR merges on all autosquashed merges
  ng-dev/pr/merge/strategies/autosquash-merge.ts
Labels: cla: yes, action: merge, action: review

#226 feat(bazel): switch away from deprecated rollup plugins
  bazel/benchmark/ng_rollup_bundle/BUILD.bazel
  bazel/benchmark/ng_rollup_bundle/ng_rollup_bundle.bzl
  bazel/benchmark/ng_rollup_bundle/rollup.config-tmpl.js
  package.json
  yarn.lock
Labels: cla: yes

#224 fix(ng-dev/release): Use new changelog writer each time an entry is prepending to the changelog file
  ng-dev/release/notes/changelog.spec.ts
  ng-dev/release/notes/changelog.ts
  ng-dev/release/notes/cli.ts
  ng-dev/release/notes/release-notes.ts
  ng-dev/release/publish/actions.ts
  tools/local-actions/changelog/main.js
Labels: cla: yes, action: merge, action: review

#228 fix(ng-dev): merge tool accidentally performing unauthenticated Github requests
  ng-dev/pr/check-target-branches/check-target-branches.ts
  ng-dev/pr/merge/defaults/integration.spec.ts
  ng-dev/pr/merge/defaults/labels.ts
  ng-dev/pr/merge/pull-request.ts
  ng-dev/pr/merge/target-label.ts
  ng-dev/release/notes/changelog.spec.ts
  ng-dev/release/notes/changelog.ts
  ng-dev/release/notes/cli.ts
  ng-dev/release/notes/release-notes.ts
  ng-dev/release/publish/actions.ts
  ng-dev/release/publish/cli.ts
  ng-dev/release/publish/index.ts
  ng-dev/release/publish/test/common.spec.ts
  ng-dev/release/publish/test/release-notes/generation.spec.ts
  ng-dev/release/stamping/env-stamp.ts
  tools/local-actions/changelog/lib/main.ts
  tools/local-actions/changelog/main.js
Labels: cla: yes

#230 refactor(ng-dev/pr): use common fetchPullRequestFromGithub in rebase tooling
  github-actions/slash-commands/main.js
  ng-dev/pr/common/fetch-pull-request.ts
  ng-dev/pr/rebase/BUILD.bazel
  ng-dev/pr/rebase/index.ts
Labels: cla: yes, action: merge
