Repository angular/dev-infra, pull requests merged in 2022-10, with the labels that each got.

#848 feat(github-actions): introduce action to identify PRs affecting Google
  .prettierignore
  github-actions/google-internal-tests/BUILD.bazel
  github-actions/google-internal-tests/action.yml
  github-actions/google-internal-tests/lib/BUILD.bazel
  github-actions/google-internal-tests/lib/main.ts
  github-actions/google-internal-tests/main.js
Labels: feature

#852 feat(github-actions): support exclusion of files in google-internal-tests` action
  github-actions/google-internal-tests/action.yml
  github-actions/google-internal-tests/lib/main.ts
  github-actions/google-internal-tests/main.js
Labels: feature

#853 feat(github-action): do not override g3 status if pointing to CL
  github-actions/google-internal-tests/lib/main.ts
  github-actions/google-internal-tests/main.js
Labels: feature

#855 feat(github-actions): update the default labels used for feature request action
  github-actions/feature-request/action.yml
Labels: action: merge, feature

#859 build: enable org wide action to sync labels
  .github/workflows/org-wide-actions.yml
Labels: action: merge

#860 build: fix org wide actions file
  .github/workflows/org-wide-actions.yml
Labels: action: merge

#861 refactor(ng-dev/pr): update standard label descriptions to be <= 100 characters
  github-actions/commit-message-based-labels/main.js
  github-actions/labels-sync/main.js
  ng-dev/pr/common/BUILD.bazel
  ng-dev/pr/common/labels/action.ts
  ng-dev/pr/common/labels/priority.ts
  ng-dev/pr/common/validate-labels.spec.ts
Labels: action: merge

#863 refactor(ng-dev/pr): include support for defining color in standard labels
  github-actions/commit-message-based-labels/lib/main.ts
  github-actions/commit-message-based-labels/main.js
  github-actions/labels-sync/main.js
  github-actions/labels-sync/src/main.ts
  ng-dev/pr/common/labels/action.ts
  ng-dev/pr/common/labels/base.ts
  ng-dev/pr/common/labels/feature.ts
  ng-dev/pr/common/labels/managed.ts
  ng-dev/pr/common/labels/merge.ts
  ng-dev/pr/common/labels/misc.ts
  ng-dev/pr/common/labels/needs.ts
  ng-dev/pr/common/labels/priority.ts
  ng-dev/pr/common/labels/target.ts
  ng-dev/pr/common/validate-labels.spec.ts
  ng-dev/pr/common/validation/assert-allowed-target-label.ts
  ng-dev/pr/common/validation/assert-breaking-change-info.ts
  ng-dev/pr/common/validation/assert-merge-ready.ts
  ng-dev/pr/merge/pull-request.ts
Labels: action: merge

#862 Finalize set up of org wide label sync
  .github/workflows/org-wide-actions.yml
  github-actions/labels-sync/main.js
  github-actions/labels-sync/src/main.ts
Labels: action: merge

#881 feat(ng-dev/caretaker): add status urls to caretaker check
  ng-dev/caretaker/check/services.spec.ts
  ng-dev/caretaker/check/services.ts
Labels: action: merge, detected: feature
