Repository angular/dev-infra, pull requests merged in 2022-05, with the labels that each got.

#559 build: fix post-approval-changes key
  .github/workflows/post-approval-changes.yml
Labels: action: merge

#560 fix(github-actions): properly spread the requested_teams values for pending reviews
  github-actions/post-approval-changes/lib/main.ts
  github-actions/post-approval-changes/main.js
Labels: action: merge

#561 fix(github-actions): use find instead of filter to allow a boolean check for non-approved reviews
  github-actions/post-approval-changes/lib/main.ts
  github-actions/post-approval-changes/main.js
Labels: action: merge

#564 Add additional logging to post approval github action
  github-actions/post-approval-changes/lib/main.ts
  github-actions/post-approval-changes/main.js
Labels: action: merge

#578 feat(ng-dev/pr): allow for manual override of targeted branches
  ng-dev/pr/common/validation/failures.ts
  ng-dev/pr/merge/cli.ts
  ng-dev/pr/merge/task.ts
Labels: action: merge, action: review

#583 fix(ng-dev/pr): properly name the rebase command
  ng-dev/pr/discover-new-conflicts/cli.ts
  ng-dev/pr/rebase/cli.ts
Labels: action: merge

#586 refactor(ng-dev): include branch name for feature-freeze train for cut RC option
  ng-dev/release/publish/actions/cut-release-candidate-for-feature-freeze.ts
  ng-dev/release/publish/test/common.spec.ts
Labels: action: review
