Repository angular/dev-infra, pull requests merged in 2022-09, with the labels that each got.

#820 feat(create-pr-for-changes): allow specifying a base branch
  github-actions/create-pr-for-changes/action.yml
  github-actions/create-pr-for-changes/lib/main.ts
  github-actions/create-pr-for-changes/main.js
Labels: action: merge

#825 fix(github-actions): use GitHub PAT instead of GitHub App key in `create-pr-for-changes`
  github-actions/create-pr-for-changes/action.yml
  github-actions/create-pr-for-changes/lib/BUILD.bazel
  github-actions/create-pr-for-changes/lib/main.ts
  github-actions/create-pr-for-changes/main.js
Labels: action: review

#839 feat(circleci-orb): command for setting up remote bazel execution
  .circleci/config.yml
  .circleci/gcp_token
  circleci-orb/BUILD.bazel
  circleci-orb/commands/setup-bazel-remote-exec.yml
  circleci-orb/scripts/setup-bazel-remote-exec/BUILD.bazel
  circleci-orb/scripts/setup-bazel-remote-exec/constants.ts
  circleci-orb/scripts/setup-bazel-remote-exec/encrypt.ts
  circleci-orb/scripts/setup-bazel-remote-exec/gcp_token.data
  circleci-orb/scripts/setup-bazel-remote-exec/index.ts
Labels: feature

#843 feat(bazel): add a rule to filter the first matching output
  bazel/filter_outputs.bzl
Labels: feature
