Repository angular/dev-infra, pull requests merged in 2024-05, with the labels that each got.

#2047 fix(shared-docs): add missing `mermaid` dep
  docs/package.json
Labels: action: merge

#2084 build: set es2020 in bazel ts_library usages
  bazel/api-gen/extraction/BUILD.bazel
  bazel/api-gen/manifest/BUILD.bazel
  bazel/api-gen/rendering/BUILD.bazel
  bazel/api-golden/BUILD.bazel
  bazel/benchmark/component_benchmark/component_benchmark.bzl
  bazel/benchmark/driver-utilities/BUILD.bazel
  bazel/defaults.bzl
  bazel/http-server/BUILD.bazel
  bazel/integration/test_runner/BUILD.bazel
  bazel/map-size-tracking/BUILD.bazel
  bazel/test/BUILD.bazel
Labels: action: merge, area: build & ci

#2085 build: add missing file to npm output
  bazel/BUILD.bazel
Labels: action: review, area: build & ci

#2086 fix(bazel/api-golden): resolve downstream errors and golden name
  bazel/api-golden/index_npm_packages.ts
  bazel/api-golden/test/BUILD.bazel
  bazel/api-golden/test/goldens/pkg_no_exports_field/index.api.md
  bazel/api-golden/test/goldens/pkg_no_exports_field/testing/index.api.md
  bazel/api-golden/test/goldens/pkg_no_exports_field/testing/nested/index.api.md
  bazel/api-golden/test/goldens/test_golden.api.md
  bazel/api-golden/test/goldens/test_package/index.api.md
  bazel/api-golden/test/goldens/test_package/testing/index.api.md
  bazel/api-golden/test/goldens/test_package/testing/nested/index.api.md
  bazel/defaults.bzl
Labels: action: merge
