Repository angular/dev-infra, pull requests merged in 2025-03, with the labels that each got.

#2633 feat(bazel): support spec bundling with `rules_js`
  bazel/package.json
  bazel/pnpm-lock.yaml
  bazel/spec-bundling/index_rjs.bzl
  bazel/spec-bundling/spec-entrypoint.bzl
  github-actions/bazel/configure-remote/BUILD.bazel
Labels: action: merge, detected: feature

#2642 build: update lock file
  .github/ng-renovate/yarn.lock
Labels: area: build & ci

#2653 fix(github-actions): pnpm detection accidentally matching `npm`
  github-actions/npm/checkout-and-setup-node/action.yml
Labels: action: merge

#2655 ci: update renovate pnpm to `9.15.6`
  .github/workflows/ng-renovate.yml
Labels: action: merge, area: build & ci

#2667 feat(ng-dev): support EMEA caretaker in `ng-dev handoff`
  ng-dev/caretaker/handoff/update-github-team.ts
Labels: detected: feature

#2674 fix(github-actions): explicitly allow renovate as a dependency through the license check
  github-actions/linting/licenses/dependency-review-config.yml
Labels: action: merge

#2696 build: remove fix commit message label as it breaks with autosquash strategy
  .github/local-actions/branch-manager/main.js
  .github/local-actions/labels-sync/main.js
  github-actions/branch-manager/main.js
  github-actions/commit-message-based-labels/main.js
  github-actions/unified-status-check/main.js
  ng-dev/pr/common/labels/merge.ts
Labels: action: review, area: build & ci
