Repository angular/dev-infra, pull requests merged in 2025-08, with the labels that each got.

#2917 ci: update pnpm for renovate to version 10.14.0
  .github/workflows/ng-renovate.yml
Labels: action: merge, area: build & ci

#2961 build: allow scripts during renovate update
  .github/ng-renovate/runner-config.js
  renovate-presets/default.json5
Labels: action: merge, area: build & ci

#2964 fix(ng-dev): fix release issues with PNPM
  ng-dev/release/publish/actions.ts
  ng-dev/release/publish/external-commands.ts
Labels: action: merge

#2966 fix(github-actions): use ubuntu instead of debian
  github-actions/setup-wsl/action.yml
Labels: action: merge

#2975 feat(ng-dev): handle updating the `MODULE.bazel.lock` file during a release
  ng-dev/release/publish/actions.ts
  ng-dev/release/publish/actions/configure-next-as-major.ts
  ng-dev/release/publish/actions/exceptional-minor/prepare-exceptional-minor.ts
  ng-dev/release/publish/actions/shared/branch-off-next-branch.ts
  ng-dev/release/publish/external-commands.ts
  ng-dev/utils/constants.ts
Labels: action: merge, detected: feature

#2989 feat(github-actions): cache nvm installations between runs
  github-actions/setup-wsl/action.yml
Labels: action: merge, detected: feature

#2990 ci: add bazel lock file update command
  renovate.json
Labels: action: merge, area: build & ci

#2998 fix(github-actions): provide an option to disable pnpm cache
  github-actions/npm/checkout-and-setup-node/action.yml
Labels: action: merge

#3014 build: update dependency git-raw-commits to v5
  ng-dev/commit-message/utils.ts
  ng-dev/package.json
  pnpm-lock.yaml
Labels: action: merge, area: build & ci
